.banner{
    background-image: url(./images/banner.png), linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);;
  
    
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
}
/* .img{
    border: 1px solid gray;
    border-radius: 50%;
    height: 200px;
    width: 200px;
} */
.slider{
background-image: url(./images/Rectangle\ 5.png),linear-gradient( rgba(0, 0, 0, 0.50),  rgba(0, 0, 0, 0.50));
background-blend-mode: overlay;
}
